In [3]:
import pandas as pd
import censusdata

In [23]:
## search labels to find measures
censusdata.search('acs5', 2015, 'label', 'unemployed')[:5]

[('B12006_006E',
  'B12006.  MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Never married:!!Male:!!In labor force:!!Unemployed'),
 ('B12006_006M',
  'B12006.  MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Margin Of Error For!!Never married:!!Male:!!In labor force:!!Unemployed'),
 ('B12006_011E',
  'B12006.  MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Never married:!!Female:!!In labor force:!!Unemployed'),
 ('B12006_011M',
  'B12006.  MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Margin Of Error For!!Never married:!!Female:!!In labor force:!!Unemployed'),
 ('B12006_017E',
  'B12006.  MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Now married (except separated):!!Male:!!In labor force:!!Unemployed')]

In [15]:
cookbg = censusdata.download('acs5', 2015,
                             censusdata.censusgeo([('county','*')]),
                             ['B23025_003E', 'B23025_005E', 'B15003_001E', 'B15003_002E', 'B15003_003E',
                              'B15003_004E', 'B15003_005E', 'B15003_006E', 'B15003_007E', 'B15003_008E',
                              'B15003_009E', 'B15003_010E', 'B15003_011E', 'B15003_012E', 'B15003_013E',
                              'B15003_014E', 'B15003_015E', 'B15003_016E'])
cookbg['percent_unemployed'] = cookbg.B23025_005E / cookbg.B23025_003E * 100
cookbg['percent_nohs'] = (cookbg.B15003_002E + cookbg.B15003_003E + cookbg.B15003_004E
                          + cookbg.B15003_005E + cookbg.B15003_006E + cookbg.B15003_007E + cookbg.B15003_008E
                          + cookbg.B15003_009E + cookbg.B15003_010E + cookbg.B15003_011E + cookbg.B15003_012E
                          + cookbg.B15003_013E + cookbg.B15003_014E +
                          cookbg.B15003_015E + cookbg.B15003_016E) / cookbg.B15003_001E * 100
#cookbg = cookbg[['percent_unemployed', 'percent_nohs']]
cookbg.describe()

,B23025_003E,B23025_005E,B15003_001E,B15003_002E,B15003_003E,B15003_004E,B15003_005E,B15003_006E,B15003_007E,B15003_008E,B15003_009E,B15003_010E,B15003_011E,B15003_012E,B15003_013E,B15003_014E,B15003_015E,B15003_016E,percent_unemployed,percent_nohs
count,3.220000e+03,3220.000000,3.220000e+03,3220.00000,3220.000000,3220.000000,3220.00000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,4.975060e+04,4157.086025,6.642154e+04,944.11646,9.893789,12.896273,47.51646,103.694410,211.418323,173.291925,234.764907,872.355901,335.071739,941.885404,1117.521429,1300.563354,1476.533540,1187.417391,8.094892,14.944075
std,1.646312e+05,15298.072448,2.121312e+05,5089.09270,50.397105,68.086639,313.80419,741.564217,1423.940898,994.090159,1374.424843,6735.333939,1311.091658,3020.298931,4680.464334,3539.358346,4515.542014,5205.656965,4.094913,7.041840
min,6.400000e+01,0.000000,7.800000e+01,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.591696
25%,4.911750e+03,361.000000,7.762500e+03,63.00000,0.000000,0.000000,0.00000,0.000000,3.000000,2.000000,6.000000,30.000000,28.000000,166.000000,128.750000,188.750000,213.000000,107.000000,5.520789,9.658453
50%,1.155500e+04,988.500000,1.777650e+04,197.00000,0.000000,0.000000,0.00000,8.000000,25.000000,22.000000,35.500000,104.500000,99.000000,386.500000,356.000000,488.000000,531.000000,275.000000,7.598830,13.278299
75%,3.124100e+04,2620.500000,4.450600e+04,519.00000,3.000000,6.000000,20.00000,41.000000,94.000000,82.000000,117.000000,329.250000,267.500000,816.000000,854.250000,1133.500000,1181.750000,707.500000,9.895258,19.348905
max,5.150589e+06,515124.000000,6.653174e+06,217614.00000,1813.000000,2783.000000,14391.00000,33566.000000,63872.000000,41752.000000,56909.000000,306175.000000,47508.000000,99483.000000,182843.000000,98237.000000,146439.000000,198125.000000,36.503258,53.720346

In [16]:
cookbg.head(2)

,B23025_003E,B23025_005E,B15003_001E,B15003_002E,B15003_003E,B15003_004E,B15003_005E,B15003_006E,B15003_007E,B15003_008E,B15003_009E,B15003_010E,B15003_011E,B15003_012E,B15003_013E,B15003_014E,B15003_015E,B15003_016E,percent_unemployed,percent_nohs
"Childress County, Texas: Summary level: 050, state:48> county:075",2743,143,4806,17,0,0,0,5,3,0,58,87,0,130,28,111,167,24,5.213270,13.108614
"Comal County, Texas: Summary level: 050, state:48> county:091",57007,2817,82814,1265,12,92,56,149,222,134,235,943,331,669,706,1076,975,1026,4.941498,9.528582