In [2]:
import pandas as pd

In [1]:
# Social Deprivation Index zip code data
# https://www.graham-center.org/rgc/maps-data-tools/sdi/social-deprivation-index.html
file = "ACS2015_zctaallvars.xlsx"

In [9]:
df = pd.read_excel(file)
df.shape

(32989, 29)

In [10]:
df.head()

,zcta,population,sdi_score,fpl_100_score,sing_parent_fam_score,black_score,dropout_score,no_car_score,rent_occup_score,crowding_score,...,percnt_dropout,percnt_hhnocar,percnt_rentoccup,percnt_crowding,percnt_nonemp,percnt_unemp,percnt_highneeds,percnt_hispanic,percnt_frgnborn,percnt_lingisol
0,1001,17438,33.0,22.0,32.0,21.0,37.0,59.0,43.0,59.0,...,0.085115,0.068985,0.302689,0.026749,0.064858,0.064837,0.435772,0.064113,0.099610,0.015346
1,1002,29780,65.0,94.0,45.0,49.0,12.0,81.0,85.0,36.0,...,0.043848,0.111309,0.534640,0.015093,0.084433,0.059714,0.447683,0.064439,0.168637,0.034902
2,1003,11241,65.0,98.0,1.0,55.0,69.0,1.0,100.0,1.0,...,0.159574,0.000000,1.000000,0.000000,0.176777,0.167972,0.508940,0.047861,0.100970,0.000000
3,1005,5201,23.0,12.0,41.0,15.0,12.0,62.0,15.0,72.0,...,0.042861,0.072848,0.189845,0.038079,0.081237,0.073581,0.353394,0.011536,0.016535,0.000000
4,1007,14838,25.0,30.0,40.0,15.0,32.0,59.0,23.0,10.0,...,0.076433,0.068404,0.225157,0.004899,0.058868,0.056689,0.362111,0.020825,0.039089,0.012771